/* 1. Header Area Start */
.header-context {
    background: linear-gradient(to right, #213140, #203a43, #213140);
    z-index: 99999999999999999 !important;
    position: fixed;
    width: 100%;
}


.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.icon-wrap {
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.icon-wrap img {
    margin-right: 10px;
}

.header-btn {
    display: flex;
    gap: 5px;
}

.header-btn a {
    background-color: #EC008C;
    text-decoration: none;
    color: #fff;
    padding: 6px 22px;
    border-radius: 25px;
}


.top-menu nav {
    z-index: 999999993;
    padding: 11px 0;
}

.top-menu nav ul {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 0;
    /* display: inline-block; */
}

.top-menu nav ul li {
    list-style: none;
    font-size: 1.1rem;
    line-height: 140%;
    /* font-weight: 500; */
    display: block;
}

.top-menu nav ul li>a {
    text-decoration: none;
    color: #fff;
    padding: 30px 20px;
    /* transition: .4s ease-in-out; */
    font-weight: 600;
}

.top-menu nav ul li a:hover {
    background-color: #34485c;
}

/* Sub Menu */
.top-menu {
    position: relative;
}

ul.submenu {
    position: absolute;
    list-style: none;
    visibility: hidden;
    width: 100%;
    left: 0;
    /* background: #ddd; */
    transition: .3s ease-in-out;
    /* height: 450px; */
}

.top-menu li:hover .submenu {
    /* visibility: visible; */
    /* background-color: #ddd; */
}

li.submenu-content {
    top: 27px;
    position: absolute;
    background: #ddd;
    width: 100%;
    border-radius: 5px;
    width: 700px;
}

.submenu-content {
    /* border: 2px solid black; */
}

.submenu-content-one {
    text-align: center;
    width: 230px;
    padding: 23px;
    cursor: pointer;
    border-radius: 5px;
    /* transition: .2s ease-in-out; */
    margin: 5px;
}

.submenu-content-one:hover {
    background: #fff;
}

.submenu-content-one>h3 {
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 0px
}

.submenu-content-one>P {
    /* padding: 8PX; */
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
}

.submenu-content-two {
    text-align: center;
    width: 230px;
    padding: 23px;
    cursor: pointer;
    border-radius: 5px;
    /* transition: .2s ease-in-out; */
    margin: 5px;
}

.submenu-content-two:hover {
    background: #fff;
}

.submenu-content-two>h3 {
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 0px
}

.submenu-content-two>P {
    /* padding: 8PX; */
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
}


.submenu-content-one {
    position: relative;
    /* background: #203a43; */
}

.submenu-content-one-link {
    display: flex;
    flex-direction: column;
    left: 100%;
    position: absolute;
    top: 0;
    width: 460px;
    background: #fff;
    border-radius: 5px;
    /* position: relative; */
    /* margin-left: 7px; */
    /* margin-right: 10px; */
}


.submenu-link-col-11 div {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.submenu-link-col-11 div>a {
    color: #213140;
    margin: 0;
    padding: 0;
    text-decoration: none;
    justify-content: start;
    display: flex;
    /* transform: .4s ease-in-out; */
    /* padding-bottom: 40px; */
    padding-left: 50px;
}

.submenu-link-col-11 div>span {
    color: #213140;
    margin: 0;
    padding: 0;
    text-decoration: none;
    justify-content: start;
    display: flex;
    /* transform: .4s ease-in-out; */
    /* padding-bottom: 40px; */
    padding-left: 50px;
    font-size: .97rem;
}

.submenu-link-col-11 div>a:hover {
    background: none !important;
    color: #EC008C;
}

.submenu-link-col-11 div>span:hover {
    background: none;
    color: #EC008C;
}

.submenu-link-col-11 {
    width: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    margin-left: 8px;
    padding: 10px;
}

.submenu-link-col-12 {
    width: 49%;
    background: #fff;
    position: absolute;
    left: 50%;
    padding: 10px;
    margin-right: 8px;
}

/* ====== */
.submenu-link-col-12 div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 40px;
}

.submenu-link-col-11 div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 40px;
}

.submenu-link-col-12 div>a {
    color: #213140;
    margin: 0;
    padding: 0;
    text-decoration: none;
    justify-content: start;
    display: flex;
    /* transform: .4s ease-in-out; */
    /* padding-bottom: 40px; */
    padding-left: 50px;
}

.submenu-link-col-12 div>span {
    color: #213140;
    margin: 0;
    padding: 0;
    text-decoration: none;
    justify-content: start;
    display: flex;
    /* transform: .4s ease-in-out; */
    /* padding-bottom: 40px; */
    padding-left: 50px;
    font-size: .97rem;
}

.submenu-link-col-12 div>a:hover {
    background: none !important;
    color: #EC008C;
}

.submenu-link-col-12 div>span:hover {
    background: none;
    color: #EC008C;
}

.submenu-link-col-11 div>img {
    position: absolute;
    /* transition: .4s ease-in-out; */
}

.submenu-link-col-12 div>img {
    position: absolute;
    /* transition: .4s ease-in-out; */
}

.submenu-link-col-11 div>img:hover {
    transform: rotate(1turn);
}

.submenu-link-col-12 div>img:hover {
    transform: rotate(1turn);
}

.top-menu ul li:hover .submenu {
    visibility: visible;
    opacity: 1;

}

/* ======= */
/* Header Area End */


/* 2. Hero Area Start */
.hero-area {
    background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    width: 100%;
    height: 910px;
}

.hero-slider-context {
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
}

.hero-context {
    display: flex;
    justify-content: center;
    /* z-index: -999; */
}

.hero-left-content {
    width: 700px;
    padding-left: 64px;
    padding-top: 193px;
    padding-bottom: 100px;
}

.hero-left-content h1 {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 24px;
    margin-top: 61px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero-left-content h1>span {
    display: block;
    line-height: 95%;
    margin-top: 25px;
    color: #FFFF00;
    font-size: 5.5rem;
    font-weight: 700;
}

.hero-left-content p {
    color: #fff;
    font-size: 1.7rem;
    margin-bottom: 42px;
    font-weight: 500;
    line-height: 140% !important;
}

.hero-btn {
    display: flex;
    gap: 5px;
}

.hero-btn a {
    text-decoration: none;
    font-weight: 500;
}

.hero-btn .btn-one {
    display: flex;
    background-color: #ec008c;
    padding: 16px 25px;
    border-radius: 11px;
    color: #fff;
    transition: all linear 200ms;
}

.btn-one span {
    margin-left: 11px;
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-btn .btn-one:hover>img {
    transform: translate(rotate 1turn);
}

.hero-btn .btn-two {
    display: flex;
    background-color: #ec008c;
    padding: 16px 25px;
    border-radius: 11px;
    color: #fff;
    transition: all linear 200ms;
    margin-left: 11px;
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-logo-wrap {
    margin-top: 60px;
}

.hero-logo-wrap h2 {
    text-align: center;
    color: #EFEFEF;
    text-transform: uppercase;
    font-size: 1rem;
    opacity: .5;
    margin: 0;
    margin-bottom: 8px;
}

.hero-logo-wrap ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.hero-logo-wrap ul li {
    list-style: none;
    margin-right: 15px;
}

.hero-logo-wrap ul li img {
    display: block;
    opacity: .3;

}

/* 3D cube */
.scene {
    width: 600px;
    height: 600px;
    perspective: 800px;
    position: absolute;
    top: 100px;
    left: 964px;
    /* z-index: 3; */

}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    animation: rotate 25s cubic-bezier(.64, .17, .46, .93) infinite;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg) scale3d(1, 1, 1);
        transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg) scale3d(1, 1, 1);
    }

    12.5% {
        -webkit-transform: rotateY(45deg) rotateZ(7.5deg) rotateX(7.5deg) scale3d(0.9, 0.9, 0.9);
        transform: rotateY(45deg) rotateZ(7.5deg) rotateX(7.5deg) scale3d(0.9, 0.9, 0.9);
    }

    25% {
        -webkit-transform: rotateY(90deg) rotateZ(15deg) rotateX(15deg) scale3d(1, 1, 1);
        transform: rotateY(90deg) rotateZ(15deg) rotateX(15deg) scale3d(1, 1, 1);
    }

    37.5% {
        -webkit-transform: rotateY(135deg) rotateZ(7.5deg) rotateX(7.5deg) scale3d(0.9, 0.9, 0.9);
        transform: rotateY(135deg) rotateZ(7.5deg) rotateX(7.5deg) scale3d(0.9, 0.9, 0.9);
    }

    50% {
        -webkit-transform: rotateY(180deg) rotateZ(0deg) rotateX(0deg) scale3d(1, 1, 1);
        transform: rotateY(180deg) rotateZ(0deg) rotateX(0deg) scale3d(1, 1, 1);
    }

    62.5% {
        -webkit-transform: rotateY(225deg) rotateZ(7.5deg) rotateX(7.5deg) scale3d(0.9, 0.9, 0.9);
        transform: rotateY(225deg) rotateZ(7.5deg) rotateX(7.5deg) scale3d(0.9, 0.9, 0.9);
    }

    75% {
        -webkit-transform: rotateY(270deg) rotateZ(15deg) rotateX(15deg) scale3d(1, 1, 1);
        transform: rotateY(270deg) rotateZ(15deg) rotateX(15deg) scale3d(1, 1, 1);
    }

    87.5% {
        -webkit-transform: rotateY(315deg) rotateZ(7.5deg) rotateX(7.5deg) scale3d(0.9, 0.9, 0.9);
        transform: rotateY(315deg) rotateZ(7.5deg) rotateX(7.5deg) scale3d(0.9, 0.9, 0.9);
    }

    100% {
        -webkit-transform: rotateY(360deg) rotateZ(0deg) rotateX(0deg) scale3d(1, 1, 1);
        transform: rotateY(360deg) rotateZ(0deg) rotateX(0deg) scale3d(1, 1, 1);
    }
}

.cube__face {
    width: inherit;
    height: inherit;
    position: absolute;
    background: #000;
    border: 2px solid #000;
    overflow: hidden;
    -webkit-box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cube__face video {
    width: 100%;
    height: 100%;
}

.cube__face--front {
    -webkit-transform: rotateY(0deg) translateZ(300px);
    transform: rotateY(0deg) translateZ(300px);
}

.cube__face--right {
    -webkit-transform: rotateY(90deg) translateZ(300px);
    transform: rotateY(90deg) translateZ(300px);
}

.cube__face--back {
    -webkit-transform: rotateY(180deg) translateZ(300px);
    transform: rotateY(180deg) translateZ(300px);
}

.cube__face--left {
    -webkit-transform: rotateY(-90deg) translateZ(300px);
    transform: rotateY(-90deg) translateZ(300px);
}

.topButtons {
    text-align: center;
}

.gooseFace video {
    width: 200%;
    height: 200%;
    position: relative;
    top: -50%;
}

.tnpFace video {
    width: 212%;
    height: 212%;
    position: relative;
    top: -53%;
    left: -53%;
}

/* Hero Area End */

/* Game Conntext Start*/
/* .game-context { */

/* width: ;
    overflow: hidden; */
/* margin: 0 auto; */
/* justify-content: space-between; */
/* display: flex;
    align-items: center;
    z-index: 99999999999 !important; */
/* } */

.game-context {
    display: flex;
    width: 1170px;

}

.game-col-11 {
    width: 610px;
}

.game-video {
    width: 100%;
}

.game-col-12 {
    width: 560px;
}

.game-context {
    display: flex;
    width: 1170px;
    padding-top: 120px;
}

.game-content {
    padding-left: 110px;
}

.game-content h5 {
    color: #ec008c;
    font-weight: 500;
    font-size: 1.3rem;
    display: block;
    margin-bottom: 30px;
    margin-top: 0px;
}

.game-content h2 {
    text-transform: uppercase;
    color: #3b4045;
    padding-right: 150px;
}

.game-content p {
    padding-right: 105px;
}

.game-content a {
    text-decoration: none;
    color: #ec008c;
    transition: .2s ease-in-out;
}

.game-content a:hover {
    text-decoration: underline;
}

.game-content .btn-one {
    width: 68%;
    border-radius: 50px;
}

.game-btn {
    display: flex;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 53%;
    background-color: #ec008c;
    border-radius: 31px;
}

.game-btn img {
    transition: .2s ease-in-out;
    animation-iteration-count: infinite;
}

.game-btn:hover img {
    transform: rotate(1turn);
}

.game-btn a {
    color: #fff;
    display: block;
    margin-left: 7px;
    text-decoration: none;
}

.game-btn:hover a {
    text-decoration: none;
}

/* Game Conntext Start*/

/* code-content Area Start */

.code-content {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.code-content-11 {
    width: 610px;
    padding-right: 181px;
}

.code-content-12 {
    width: 560px;
}

.code-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* position: absolute; */
    margin-top: 124px;
}

.code-img {
    position: relative;
}

.code-btn {
    position: absolute;
    margin-top: 74px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.code-content-left h5 {
    color: #ec008c;
    font-weight: 500;
    font-size: 1.3rem;
    display: block;
    margin-bottom: 30px;
}

.code-content-left h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #3b4045
}

/* code-content Area End */



/* Polular Area Start  */

.popular-area {
    position: relative;

}

.popular-bg {
    background: linear-gradient(0deg, #b721ff 0%, #21d4fd 100%);
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    height: 800px;
    width: 300%;
    margin-left: -100%;
    margin-top: 210px;
    position: relative;
    z-index: -1;
    top: 0;
}

.popular-content {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;

}

.popular-col-11 {
    width: 600px;
}

.popular-col-12 {
    width: 600px;
}

.polular-col-12 {
    margin-top: -60px;
}

.popular-hero {
    position: relative;
}

.popular-video {
    position: absolute;
    top: -59px;
    width: 13%;
    left: 78px;
}

.popular-video video {
    width: 451px;
    height: 485px;
}

.popular-left {
    padding-top: 110px;
}

.popular-left h5 {
    color: #fff;
    font-size: 1.1rem;
}

.popular-left h2 {
    color: yellow;
    text-transform: uppercase;
    font-size: 2rem;
    padding-right: 90px;
}

.popular-left p {
    padding-right: 168px;
    color: #fff;
}


/* Polular Area End */